<%= error_messages_for :ticket -%>

<% form_for setup_ticket(@ticket), :html => { :multipart => true } do |f| -%>
<dl>
<dt><label for="ticket_title">Title</label></dt>
<dd><%= f.text_field :title, {:style => "width: 440px", :class => "textfield" } -%></dd>

<dt><label for="ticket_contact_id">Contact</label></dt>
<dd><%= f.collection_select :contact_id, @contact_select, :id, :full_name, { :include_blank => true }, { :class => "selectbox" } -%></dd>

<dt><label for="ticket_group_id">Group</label></dt>
<dd><%= f.collection_select :group_id, @group_select, :id, :name, { :include_blank => true }, { :class => "selectbox" } -%></dd>

<dt><label for="ticket_status_id">Status</label></dt>
<dd><%= f.collection_select :status_id, @status_select, :id, :name, { :include_blank => true }, { :class => "selectbox" } -%></dd>

<dt><label for="ticket_priority_id">Priority</label></dt>
<dd><%= f.collection_select :priority_id, @priority_select, :id, :name, { :include_blank => true }, { :class => "selectbox" } -%></dd>

<dt><label for="ticket_owned_by">Owner</label></dt>
<dd><%= f.collection_select :owned_by, @owner_select, :id, :username, { :include_blank => true }, { :class => "selectbox" } -%></dd>

<dt><label for="ticket_details">Details</label></dt>
<dd><%= f.text_area :details, :size => "70x6", :class => "textarea" -%></dd>

<dd><%= f.submit button_name, :class => "button" -%>&nbsp;&nbsp;<%= link_to 'Cancel', @ticket -%></dd>
</dl>

<% end -%>
