<h2>Atualizando o ticket #<%= @ticket.id -%></h2>

<%= error_messages_for :ticket -%>

<% form_for @ticket do |f| -%>
<dl>
<dt>Nome:</dt>
<dd class="label"><%= @ticket.creator.full_name -%></dd>

<dt>Email:</dt>
<dd class="label"><%= @ticket.creator.email -%></dd>

<dt><%= f.label :subject, 'Assunto' %></dt>
<dd><%= f.text_field :subject, {:style => "width: 440px", :class => "textfield" } -%></dd>

<dt><%= f.label :category_id, 'Categoria' %></dt>
<dd><%= select 'ticket','category_id', Category.find(:all).collect {|g| [ g.name, g.id ] }, { :include_blank => true }, :class => "selectbox" -%></dd>

<dt><%= f.label :incident_id, 'Incidente' %>
<dd><%= select 'ticket','incident_id', Incident.find(:all).collect {|p| [ p.name, p.id ] }, { :include_blank => true }, { :style => "width: 130px", :class => "selectbox" } -%></dd>

<dt><%= f.label :incident_id, 'Situação' %>
<dd><%= select 'ticket','status_id', Status.find(:all).collect {|p| [ p.name, p.id ] }, { :include_blank => true }, { :style => "width: 130px", :class => "selectbox" } -%></dd>

<dt>Responsável:</dt>
<dd><%= select 'ticket','owned_by',User.find(:all, :conditions => [ "equipe = ?", 1 ]).collect {|u| [ u.full_name, u.id ] }, { :include_blank => true }, { :style => "width: 130px", :class => "selectbox" } -%></dd>

<dt><%= f.label :message, 'Mensagem' %></dt>
<dd><%= f.text_area :message, :size => "70x6", :class => "textarea" -%></dd>

<dd><%= f.submit 'Atualizar', :class => "button" -%>&nbsp;&nbsp;<%= link_to 'Cancel', @ticket -%></dd>
</dl>

<% end -%>