
<% content_for :button_list do %>
<div class="right-container">
  <h3>Filtros</h3>

  <div class="right-container">

<% form_for @search do |f| %>
  <p>
  <%= f.label :category_id_equals, "Categoria:" %>
  <%= f.collection_select :category_id_equals, Category.all(:order => "id"), :id, :name, { :include_blank => true}, { :class => "selectbox" } %>
  </p>

  <p>
  <%= f.label :incident_id_equals, "Incidente:" %>
  <%= f.collection_select :incident_id_equals, Incident.all(:order => "id"), :id, :name, { :include_blank => true}, { :class => "selectbox" } %>
  </p>

  <p>
  <%= f.label :status_id_equals, "Status:" %>
  <%= f.collection_select :status_id_equals, Status.all(:order => "id"), :id, :name, { :include_blank => true}, { :class => "selectbox" } %>
  </p>

  <p><%= f.submit "Enviar", :class => "button" %></p>
<% end %>

  </div>
</div>
<% end %>

<h2>Tickets</h2>

<div id="active-listing">
  <table class="listing" cellspacing="0">
  <thead>
    <tr class="header">
      <th>Ticket #</th>
      <th>Assunto</th>
      <th>Categoria</th>
      <th>Incidente</th>
      <th>Status</th>
      <th>Última atualização</th>
    </tr>
  </thead>
  <tbody>
    <% @tickets.each do |ticket| %>
    <tr class="<%= cycle("list-line-odd", "list-line-even", :name => "active") %>">
      <td><%= link_to ticket.id, ticket, { :title => "Ticket ##{ticket.id}", :class => "custom" } -%></td>
      <td><%=h truncate(ticket.subject, :length => 40) %></td>
      <td><%= ticket.category.name %></td>
      <td><%= ticket.incident.name %></td>
      <td><%= ticket.status.name %></td>
      <td><%= time_ago_in_words ticket.updated_at %> ago</td>
    </tr>
    <% end %>
  </tbody>
  </table>
</div>